@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;700&display=swap');

.font-handwritten {
  font-family: 'Dancing Script', cursive;
  letter-spacing: 1.5px;
  font-size: 1.5rem;
  font-weight: 400;
}
