<!-- ================= HERO ================= -->
<section
  id="hero"
  class="min-h-screen flex flex-col justify-start items-center
         bg-gradient-to-b from-gray-50 to-white
         text-center px-6 border-b border-gray-200 pt-6"
  data-aos="fade-up">

  <!-- TYPEWRITER -->
  <h2 class="flex justify-center items-baseline gap-3 text-black mb-8 min-h-[6rem]">
    <span class="text-3xl md:text-4xl font-extrabold tracking-tight text-blue-600 animate-fade-in-up">
      I’m
    </span>
    <span class="text-xl md:text-2xl font-semibold text-gray-600">
      <span id="typewriter"></span>
      <span class="border-r-2 border-b-black animate-pulse ml-1"></span>
    </span>
  </h2>

  <!-- FOTO + TARJETA -->
  <div class="relative mt-16 animate-fade-in-up">
    <div class="bg-white rounded-2xl shadow-lg px-10 pt-32 pb-10 border border-gray-200 relative">

      <img
        src="assets/images/Principal.jpeg"
        alt="Profile photo"
        class="w-64 h-64 rounded-full object-cover
               absolute -top-36 left-1/2 -translate-x-1/2
               ring-4 ring-white shadow-md
               transition-transform duration-500 hover:scale-105"/>

      <h5 class="text-2xl md:text-4xl font-handwritten text-gray-900 mb-4">
        Luis Steven Vargas Rodriguez
      </h5>

      <p class="text-sm text-gray-600 max-w-md mt-6">
        Software Engineer focused on designing and building scalable,
        business-driven backend and full-stack solutions.
      </p>

      <!-- CONTACT -->
      <div class="mt-6 flex flex-wrap items-center justify-center gap-4">
        <a href="mailto:luisstevenvargasr@gmail.com" class="flex items-center gap-2 px-4 py-2 rounded-full
           text-sm text-gray-800 border bg-white/60 backdrop-blur
           hover:bg-blue-50 hover:text-blue-700 transition-all">
          📧 luisstevenvargasr@gmail.com
        </a>

        <a href="https://wa.me/50686717413" target="_blank"
           class="flex items-center gap-2 px-4 py-2 rounded-full
           text-sm text-gray-800 border bg-white/60 backdrop-blur
           hover:bg-green-50 hover:text-green-700 transition-all">
          📱 +506 8671 7413
        </a>
      </div>
    </div>
  </div>

  <!-- REDES -->
  <div class="flex gap-3 mt-6 mb-4">
    <a href="https://github.com/LSvargas25" target="_blank">GitHub</a>
    <a href="https://www.linkedin.com/" target="_blank">LinkedIn</a>
  </div>

  <!-- IDIOMAS -->
  <div class="text-sm text-gray-600 mb-8">
    Spanish (Native) | English (Advanced)
  </div>

  <!-- BOTONES -->
  <div class="flex gap-4 flex-wrap justify-center">
    <a href="#projects" class="px-6 py-3 rounded-full bg-blue-600 text-white font-semibold">
      View Projects
    </a>
    <a href="#contact" class="px-6 py-3 rounded-full border text-gray-800 font-semibold">
      Contact Me
    </a>
  </div>
</section>

<!-- ================= PROFILE ================= -->
<section id="profile" class="py-12 bg-gray-50 border-b border-gray-200">
  <div class="max-w-6xl mx-auto grid grid-cols-1 md:grid-cols-3 gap-10 items-center px-6">

    <div class="md:col-span-2 bg-white rounded-2xl shadow-lg p-8 border">
      <h3 class="text-2xl font-semibold mb-4 text-center">Professional Profile</h3>
      <p class="text-gray-700 text-center">
        Backend-oriented Software Engineer specializing in .NET and Angular,
        focused on clean architecture and scalable systems.
      </p>
    </div>

    <div class="flex justify-end">
      <img src="assets/images/papi.jpeg"
           class="w-96 h-96 rounded-full object-cover shadow-xl"/>
    </div>
  </div>
</section>

<!-- ================= SKILLS ================= -->
<section class="py-12 bg-gray-50 border-b border-gray-200 px-6">
  <div class="max-w-6xl mx-auto">

    <div class="grid grid-cols-1 md:grid-cols-2 gap-x-20 gap-y-10">

      <!-- TECHNICAL SKILLS -->
      <div>
        <h4 class="font-semibold text-center text-lg mb-6 relative">
          Technical Skills
          <span class="absolute left-1/2 -translate-x-1/2 -bottom-1 w-2/3 h-[2px] bg-blue-600"></span>
        </h4>


        <!-- BACKEND -->
        <div class="mb-6 flex items-center  -translate-x-7  gap-x-4 -ml-14">
          <span class="font-semibold text-gray-500 text-base min-w-[80px] -mt-8 -translate-x-4">
            Backend
          </span>

          <div class="flex gap-7 flex-nowrap">
            <ng-container *ngFor="let skill of backendSkills">
              <div class="flex flex-col items-center gap-2">
                <div class="w-11 h-11 rounded-full bg-white shadow-md border border-gray-200
                         flex items-center justify-center
                         transition-transform duration-300 hover:scale-105">
                  <img [src]="skill.logo" [alt]="skill.name" class="w-6 h-6 object-contain" loading="lazy"
                    (error)="onSkillImgError(skill, $event)" />
                </div>
                <span class="text-xs text-gray-700 text-center leading-tight mt-0.5">
                  {{ skill.name }}
                </span>
              </div>
            </ng-container>
          </div>
        </div>

        <!-- FRONTEND -->
        <div class="mb-6 flex items-center  -ml-6 translate-x-1">
          <span class="font-semibold text-gray-500 text-base min-w-[80px] -mt-6  -translate-x-20">
            Frontend
          </span>

          <div class="flex gap-6 flex-wrap">
            <ng-container *ngFor="let skill of frontendSkills">
              <div class="flex flex-col items-center gap-2">
                <div class="w-11 h-11 rounded-full bg-white shadow-md border border-gray-200
                         flex items-center justify-center
                         transition-transform duration-300 hover:scale-105">
                  <img [src]="skill.logo" [alt]="skill.name" class="w-6 h-6 object-contain" loading="lazy"
                    (error)="onSkillImgError(skill, $event)" />
                </div>

                <span class="text-xs text-gray-700 text-center leading-tight mt-0.5">
                  {{ skill.name }}
                </span>
              </div>
            </ng-container>
          </div>
        </div>

        <!-- TOOLS -->
        <div class="mb-6 flex items-center gap-x-10 -ml-6 -translate-x-8">
          <span class="font-semibold  text-gray-500 text-base min-w-[80px] -mt-6 -translate-x-10">
            Tools
          </span>

          <div class="flex gap-6 flex-wrap">
            <ng-container *ngFor="let skill of toolsSkills">
              <div class="flex flex-col items-center gap-2">
                <div class="w-11 h-11 rounded-full bg-white shadow-md border border-gray-200
                         flex items-center justify-center
                         transition-transform duration-300 hover:scale-105">
                  <img [src]="skill.logo" [alt]="skill.name" class="w-6 h-6 object-contain" loading="lazy"
                    (error)="onSkillImgError(skill, $event)" />
                </div>

                <span class="text-xs text-gray-700 text-center leading-tight mt-0.5">
                  {{ skill.name }}
                </span>
              </div>
            </ng-container>
          </div>
        </div>

        <!-- DATABASE -->
        <div class="mb-6 flex items-center -ml-10 gap-x-1 ">
          <span class="font-semibold  text-gray-500 text-base min-w-[80px] -translate-x-14 -mt-6">
            Database
          </span>
          <div class="flex flex-1 justify-center gap-6 flex-wrap -translate-x-8">


            <ng-container *ngFor="let skill of databaseSkills">
              <div class="flex flex-col items-center gap-1">
                <div class="w-11 h-11 rounded-full bg-white shadow-md border border-gray-200
                         flex items-center justify-center
                         transition-transform duration-300 hover:scale-105">
                  <img [src]="skill.logo" [alt]="skill.name" class="w-6 h-6 object-contain" loading="lazy"
                    (error)="onSkillImgError(skill, $event)" />
                </div>

                <span class="text-xs text-gray-700 text-center leading-tight">
                  {{ skill.name }}
                </span>
              </div>
            </ng-container>
          </div>
        </div>
      </div>

      <!-- SOFT SKILLS -->
      <div>
        <h4 class="font-semibold text-center text-lg mb-6 relative">
          Soft Skills
          <span class="absolute left-1/2 -translate-x-1/2 -bottom-1 w-2/3 h-[2px] bg-blue-600"></span>
        </h4>
     <!-- GRID DE SOFT SKILLS -->
        <div class="grid grid-rows-2 grid-flow-col gap-6 place-items-center">

          <ng-container *ngFor="let soft of softSkills">
            <div class="flex flex-col items-center gap-2 text-center">

              <!-- ICONO -->
              <div class="w-11 h-11 rounded-full bg-white shadow-md border border-gray-200
               flex items-center justify-center
               transition-transform duration-300 hover:scale-105">

                <img [src]="soft.icon" [alt]="soft.name" class="w-6 h-6 object-contain" loading="lazy" />
              </div>

              <!-- TEXTO -->
              <span class="text-xs text-gray-700 leading-tight max-w-[90px]">
                {{ soft.name }}
              </span>

            </div>
          </ng-container>

        </div>


<div class="flex justify-center gap-10 mt-8">
  <div
    *ngFor="let item of expertiseItems"
    class="flex flex-col items-center text-center">
    <div
      class="expertise-circle animate-zoomGlow
             flex items-center justify-center
             w-24 h-24 rounded-full bg-gray-100
             border border-gray-300"
      [ngClass]="item.delayClass">
      <!-- ICONO GRANDE DESDE ASSETS -->
      <img
        [src]="item.iconPath"
        [alt]="item.name"
        class="w-16 h-16 object-contain"
      />
    </div>
    <!-- TEXTO FUERA DEL CÍRCULO -->
    <span class="mt-2 text-[13px] font-semibold text-gray-700 leading-tight">
      {{ item.name }}
    </span>
  </div>
</div>




      </div>

    </div>
  </div>
</section>


<!-- ================= PROJECTS ================= -->
<section
  id="projects"
  class="py-16 bg-gray-50 border-b border-gray-200 px-6"
  data-aos="fade-up"
  data-aos-delay="100"
>
  <div class="max-w-6xl mx-auto gsap-fade">

    <!-- TITLE -->
    <h4 class="font-semibold text-center text-lg relative">
      Projects
      <span
        class="absolute left-1/2 -translate-x-1/2 -bottom-1
               w-2/3 h-[2px] bg-blue-600">
      </span>
    </h4>

    <!-- GRID -->
    <div
      class="grid grid-cols-1 md:grid-cols-4 gap-6 mt-10 gsap-fade"
      data-aos="fade-up"
      data-aos-delay="200"
    >

      <!-- ================= CARD 1 ================= -->
      <div class="bg-white p-6 rounded-xl shadow-sm flex flex-col items-center text-center project-card cursor-pointer" (click)="openModal('pokedex')">

        <div class="w-26 h-26 rounded-full flex items-center justify-center mb-3 -mt-4 project-icon-glow pokedex-glow">
          <img
            src="assets/images/Pokedex.png"
            alt="Pokedex"
            class="w-24 h-24 object-cover rounded-full border-2 border-white shadow"
          />
        </div>

        <h4 class="font-bold text-lg mb-2">Pokedex</h4>

        <p class="text-gray-600 text-sm mb-4 max-w-xs">
          An interactive experience inspired by the original Pokédex, where users complete challenges to unlock Pokémon through progressive gameplay.
        </p>

        <!-- TECHNOLOGIES -->
        <div class="flex flex-col items-center gap-2 mb-2">

          <div class="flex justify-center gap-3">
            <img src="https://cdn.simpleicons.org/mongodb"
                 alt="MongoDB"
                 title="MongoDB"
                 class="w-7 h-7 object-contain skill-icon" />

            <img src="/assets/icons/Angular.png"
                 alt="Angular"
                 title="Angular"
                 class="w-7 h-7 object-contain skill-icon" />
          </div>

          <div class="flex justify-center gap-3">
            <img src="https://cdn.simpleicons.org/node.js"
                 alt="Node.js"
                 title="Node.js"
                 class="w-7 h-7 object-contain skill-icon" />

            <img src="https://cdn.simpleicons.org/typescript"
                 alt="TypeScript"
                 title="TypeScript"
                 class="w-7 h-7 object-contain skill-icon" />

            <img src="https://cdn.simpleicons.org/sass"
                 alt="SCSS"
                 title="SCSS"
                 class="w-7 h-7 object-contain skill-icon" />
          </div>

        </div>
      </div>

      <!-- ================= CARD 2 ================= -->
      <div class="bg-white p-6 rounded-xl shadow-sm flex flex-col items-center text-center project-card cursor-pointer" (click)="openModal('expande')">

        <div class="w-26 h-26 rounded-full flex items-center justify-center mb-3 -mt-4 project-icon-glow expande-glow">
          <img
            src="assets/images/Expande.png"
            alt="Expande"
            class="w-24 h-24 object-cover rounded-full border-2 border-white shadow"
          />
        </div>

        <h4 class="font-bold text-lg mb-2">Expande</h4>

        <p class="text-gray-600 text-sm mb-4 max-w-xs">
          A scalable enterprise platform focused on tracking, analyzing, and centralizing critical business actions across multiple operations.
        </p>

        <!-- TECHNOLOGIES -->
        <div class="flex flex-col items-center gap-2 mb-2">

          <div class="flex justify-center gap-3">
            <img src="/assets/icons/Angular.png"
                 alt="Angular"
                 title="Angular"
                 class="w-7 h-7 object-contain skill-icon" />

            <img src="https://cdn.simpleicons.org/tailwindcss"
                 alt="Tailwind CSS"
                 title="Tailwind CSS"
                 class="w-7 h-7 object-contain skill-icon" />

            <img src="/assets/icons/csharp.png"
                 alt="C#"
                 title="C#"
                 class="w-7 h-7 object-contain skill-icon" />
          </div>

          <div class="flex justify-center gap-3">
            <img src="https://cdn.simpleicons.org/dotnet"
                 alt="ASP.NET Core"
                 title="ASP.NET Core Web API"
                 class="w-7 h-7 object-contain skill-icon" />

            <img src="/assets/icons/sql.png"
                 alt="SQL Server"
                 title="SQL Server"
                 class="w-7 h-7 object-contain skill-icon" />
          </div>

        </div>
      </div>

      <!-- ================= CARD 3 ================= -->
      <div class="bg-white p-6 rounded-xl shadow-sm flex flex-col items-center text-center project-card cursor-pointer" (click)="openModal('fit')">

        <div class="w-26 h-26 rounded-full flex items-center justify-center mb-3 -mt-4 project-icon-glow fithouse-glow">
          <img
            src="assets/images/FitHouse.png"
            alt="FitHouse"
            class="w-24 h-24 object-cover rounded-full border-2 border-white shadow"
          />
        </div>

        <h4 class="font-bold text-lg mb-2">FitHouse</h4>

        <p class="text-gray-600 text-sm mb-4 max-w-xs">
          A mobile solution designed to guide gym members through structured workouts, improving consistency and long-term engagement.
        </p>

        <!-- TECHNOLOGIES -->
        <div class="flex flex-col items-center gap-2 mb-2">

          <div class="flex justify-center gap-3">
            <img src="/assets/icons/Xamarin.png"
                 alt="Xamarin.Forms"
                 title="Xamarin.Forms"
                 class="w-7 h-7 object-contain skill-icon" />

            <img src="/assets/icons/csharp.png"
                 alt="C#"
                 title="C#"
                 class="w-7 h-7 object-contain skill-icon" />
          </div>

          <div class="flex justify-center gap-3">
            <img src="/assets/icons/sql.png"
                 alt="SQL Server"
                 title="SQL Server"
                 class="w-7 h-7 object-contain skill-icon" />
          </div>

        </div>
      </div>

      <!-- ================= CARD 4 ================= -->
      <div class="bg-white p-6 rounded-xl shadow-sm flex flex-col items-center text-center project-card cursor-pointer" (click)="openModal('vcbike')">
<!-- MODALS -->
<div *ngIf="showPokedexModal" class="fixed inset-0 z-50 flex items-center justify-center">
  <div class="fixed inset-0 z-50 flex items-center justify-center" (click)="closeAllModals()"></div>
  <div class="bg-white rounded-2xl shadow-2xl p-8 relative max-w-3xl w-[90vw] h-[80vh] flex flex-col overflow-y-auto z-50 modal-observe" (click)="$event.stopPropagation()">
    <button (click)="closeAllModals()" class="absolute top-2 right-2 text-2xl font-bold text-gray-500 hover:text-red-500 z-50">&times;</button>
    <app-pokedex-modal></app-pokedex-modal>
  </div>
</div>
<div *ngIf="showExpandeModal" class="fixed inset-0 z-50 flex items-center justify-center">
  <div class="fixed inset-0 z-50 flex items-center justify-center" (click)="closeAllModals()"></div>
  <div class="bg-white rounded-2xl shadow-2xl p-8 relative max-w-3xl w-[90vw] h-[80vh] flex flex-col overflow-y-auto z-50 modal-observe" (click)="$event.stopPropagation()">
    <button (click)="closeAllModals()" class="absolute top-2 right-2 text-2xl font-bold text-gray-500 hover:text-red-500 z-50">&times;</button>
    <app-expande-modal></app-expande-modal>
  </div>
</div>
<div *ngIf="showFitHouseModal" class="fixed inset-0 z-50 flex items-center justify-center">
  <div class="fixed inset-0 z-50 flex items-center justify-center" (click)="closeAllModals()"></div>
  <div class="bg-white rounded-2xl shadow-2xl p-8 relative max-w-3xl w-[90vw] h-[80vh] flex flex-col overflow-y-auto z-50 modal-observe" (click)="$event.stopPropagation()">
    <button (click)="closeAllModals()" class="absolute top-2 right-2 text-2xl font-bold text-gray-500 hover:text-red-500 z-50">&times;</button>
    <app-fit-house-modal></app-fit-house-modal>
  </div>
</div>
<div *ngIf="showVcBikeServiceModal" class="fixed inset-0 z-50 flex items-center justify-center">
  <div class="fixed inset-0 z-50 flex items-center justify-center" (click)="closeAllModals()"></div>
  <div class="bg-white rounded-2xl shadow-2xl p-8 relative max-w-3xl w-[90vw] h-[80vh] flex flex-col overflow-y-auto z-50 modal-observe" (click)="$event.stopPropagation()">
    <button (click)="closeAllModals()" class="absolute top-2 right-2 text-2xl font-bold text-gray-500 hover:text-red-500 z-50">&times;</button>
    <app-vc-bike-service-modal></app-vc-bike-service-modal>
  </div>
</div>

        <div class="w-26 h-26 rounded-full flex items-center justify-center mb-3 -mt-4 project-icon-glow vcbike-glow">
          <img
            src="assets/images/VCBikeService.png"
            alt="VCBikeService"
            class="w-24 h-24 object-cover rounded-full border-2 border-white shadow"
          />
        </div>

        <h4 class="font-bold text-lg mb-2">VCBikeService</h4>

        <p class="text-gray-600 text-sm mb-4 max-w-xs">
          A comprehensive management system built to streamline operations for a real-world bicycle service business.
        </p>

        <!-- TECHNOLOGIES -->
        <div class="flex flex-col items-center gap-2 mb-2">

          <div class="flex justify-center gap-3">
            <img src="/assets/icons/WinForms.png"
                 alt="Windows Forms"
                 title="Windows Forms"
                 class="w-7 h-7 object-contain skill-icon" />

            <img src="/assets/icons/csharp.png"
                 alt="C#"
                 title="C#"
                 class="w-7 h-7 object-contain skill-icon" />
          </div>

          <div class="flex justify-center gap-3">
               <div class="flex justify-center gap-3">
            <img src="/assets/icons/sql.png"
                 alt="SQL Server"
                 title="SQL Server"
                 class="w-7 h-7 object-contain skill-icon" />
          </div>
          </div>

        </div>
      </div>

    </div>
  </div>
</section>

<!-- ================= CONTACT ================= -->
<section id="contact" class="py-16 bg-white px-6">
  <div class="max-w-3xl mx-auto text-center">
    <h3 class="text-2xl font-semibold mb-4">Contact</h3>
    <p class="text-sm text-gray-700">
      San José, Costa Rica · luisstevenvargasr@gmail.com · +506 8671 7413
    </p>
  </div>
</section>

<app-footer></app-footer>
