
@tailwind base;
@tailwind components;
@tailwind utilities;


@keyframes zoomGlow {
  0%, 100% {
    transform: scale(1);
    box-shadow: 0 0 20px rgba(255,255,255,0.6);
  }
  50% {
    transform: scale(1.08);
    box-shadow: 0 0 35px rgba(255,255,255,0.9);
  }
}
